             h1 {
                color: blue;
                text-align: center;
            }
            h2 {
                color: rgb(216, 187, 24);
                text-align: center;
            }
        /*styling all <p> elements */
            p {
                color: fuchsia;
                font: size 20px;
            }
            p {
                color: rgb(209, 26, 41);
                font-size: 20px;
                line-height: 1.5;
            }
            /* styling links */ 
            a {
                color: rgb(24, 102, 203);
                text-decoration: none;
                font-size: 18px;
            }
            /* styling button*/
            button {
                background-color: greenyellow;
                color: antiquewhite;
                border: none;
                padding: 10px;
                font-size: 16px;
                border-radius: 5px;
            }
            /* styling horizontal line*/
            hr {
                border: 2px solid rgb(236, 55, 100);
            }
            /* styling highlighting mark*/
            mark {
                background-color: aqua;
            }
            /* styling image*/
            img {
                width: 300px;
                height: 300px;
                border:5px solid rgb(79, 194, 220);
                border-radius: 10px;
            }
            /* styling table*/
            table {
                border-collapse: collapse;
                width: 50%;
            }
            th {
                background-color:rgb(230, 24, 151);
                color:#eaede4;
                padding:10px;
            }
            /* styling list*/
            ul {
                color: rgb(241, 122, 206);
                font-size: 18px;
            }
            /* styling list items*/
            li {
                margin:8px;
            }